.images {
    padding-top: 70px;
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
    justify-content: center; 
}

.images img {
    max-width: 24%;
    height: 400px;
    border-radius: 30px;
    object-fit: cover;
    display: block;
}

.images .one { rotate: 5deg; }
.images .two { rotate: -5deg; }
.images .three { rotate: 3deg; }
.images .four { rotate: 3deg; }
.images .five { rotate: -7deg; }


@media (max-width: 1024px) {
    .images img {
        max-width: 45%; 
        height: 300px;
    }
}

@media (max-width: 768px) {
    .images img {
        max-width: 90%; 
        height: 250px;
    }
    .images{
        overflow: hidden;
    }
}